/* font-weight bold */
@font-face {
  font-family: 'yekanBakh';
  font-style: normal;
  font-weight: 700;
  src: url("./YekanBakhBold.ttf"),
}

/* font-weight bold */
@font-face {
  font-family: 'yekanBakh';
  font-style: normal;
  font-weight: 700;
  src: url("./YekanBakh-Bold.woff") format("woff"),
}

/* font-weight bold */
@font-face {
  font-family: yekanBakh;
  font-style: normal;
  font-weight: 700;
  src: url("./YekanBakh-Bold.woff2") format("woff2"),
}
