a:hover{
  color: #00A19A;
}
.btn-success{
  color : #fff;
  background-color:#00A19A; ;
}

/*============== Slider ==================*/
#slide{
  padding: 0;
}
#slide .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#slide .container{
  display: flex;
  align-items: center;
  position: relative;
}
#slide h1 , #slide p{
  color: #fff;
}
#slide h1{
  font-size: 68px;
}
#slide p{
  font-size: 21px;
}
#slide .picture {
  position: absolute;
  left: -36px;
  top: 30px;
}
#slide  .swiper-wrapper {
  max-height: 800px;
}
#slide .content {
  width: 55%;
}
/*============== Product ==================*/
#product {
  text-align: center;
  background: url(../images/bg-cloud.png) , linear-gradient(0deg, rgba(57, 195, 187, 0.069) 60.29%, rgba(57, 195, 187, 0) 97.67%);
backdrop-filter: blur(30px);
background-size: cover;
background-repeat: no-repeat;
}
#product h1{
  color: #00A19A;
  text-align: center;
}
#product .nav-pills {
  justify-content: center;
  border-bottom: 1px solid #99A5B1;
  width: fit-content;
  margin: 0 auto;
}
#product .nav-pills .nav-link {
  color: #505860;
  background-color: transparent;
  border-radius: 0;

}
#product .nav-pills .nav-link.active {
  border-bottom: 2px solid #00A19A;
  color: #00A19A;
}

#product .box {
  background: #FFFFFF;
  box-shadow: 0px 10px 50px rgba(23, 143, 136, 0.3);
  border-radius: 40px;
  padding: 10px;
  margin-bottom: 1rem;

}


#product .box .card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #fff;
}
/*================================ Banner ================================*/

#banner .swiper-slide img {
  opacity: .5;
} 
#banner .swiper-slide-active img {
  opacity: 1;
} 
/*================================ Event ================================*/
#event{
  text-align: center;
  background-image: url(../images/bg-cloud.png);
  background-size: cover;
  background-repeat: no-repeat;

}
#event .box{
  background: #FFFFFF;
  box-shadow: 0px 10px 50px rgb(23 143 136 / 30%);
  border-radius: 40px;
  padding: 10px;
  margin-bottom: 1rem;
}

/*================================ About ================================*/

#about h1 {
  color: #00A19A;
}
/*================================ Footer ================================*/

footer {
  background-color: #00A19A;
  padding: 30px;
  border-radius: 30px 30px 0 0;
}
footer .title {
  color: #fff;
  font-size: 21px;
  margin-bottom: 1rem;
}
footer ul a {
  color: #fff;
}