/*============== mobile ==================*/
@media screen and (max-width: 767px) {
  .btnCall {
    height: 36px;
    margin: 0 auto;
    padding: 6px 20px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 12px;
  }
  .section-title {
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 30px;
  }
  /*================================ stickyHeader ================================*/
  header {
    padding: 0;
  }
  .stickyHeader {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background: #ffffff;
    box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.1);
  }
  .mobileNav {
    height: 70px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .mobileNav i {
    color: #00a19a;
  }
  .mobileNav img {
    max-width: 90px;
  }
  /*================================ slide ================================*/
  #slide {
    background: rgba(57, 195, 187, 0.069) 97.29%;
  }
  #slide .swiper-wrapper {
    max-height: 550px;
  }
  #slide h1 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
  }
  #slide p {
    font-weight: 400;
    font-size: 12px;
    text-align: justify;
    margin-bottom: 37px;
    max-width: 100%;
  }
  #slide .content {
    width: 100%;
  }
  #slide .container {
    position: unset;
    padding: 0 15px;
  }
  #slide .slideSwiper {
    padding-bottom: 45px;
  }
  #slide .swiper-slide {
    display: flex;
    align-items: flex-start;
    padding-top: 70px;
    position: relative;
    border-radius: 0 0 60px 60px;
    max-height: 500px;
  }
  #slide .slider1 {
    background-image: url(../images/slider1Mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  #slide .picture {
    position: absolute;
    left: 0;
    top: unset;
    right: 0;
    bottom: -6%;
    max-width: 80%;
    z-index: 1000;
    margin: 0 auto;
  }

  #slide .btn-success {
    background: #ffffff;
    border-radius: 10px;
    color: #00a19a;
    font-weight: 700;
    font-size: 12px;
  }
  #slide .swiper-button-next,
  #slide .swiper-button-prev {
    display: none;
  }
  #slide .btnCall {
    background: #ffffff;
    color: #00a19a;
    margin-right: 0;
    font-weight: 700;
    font-size: 12px;
  }

  /*================================ product ================================*/
  #product {
    padding-bottom: 100px;
    padding-top: 70px;
    background: linear-gradient(
      0deg,
      rgba(57, 195, 187, 0.069) 97.29%,
      rgba(57, 195, 187, 0.067) 97.67%
    );
    position: relative;
  }
  #product .section-title {
    position: relative;
  }
  #product .productCloudTop {
    position: absolute;
    top: -20px;
    left: -20px;
    max-width: 20%;
  }
  #product .productCloudBottom {
    position: absolute;
    bottom: 17%;
    right: 0px;
    max-width: 20%;
  }
  #product .container {
    padding: 0 14px 0 0;
  }
  #product .boxSwiper {
    padding: 0;
    margin: 0;
  }
  #product .nav-pills {
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-bottom: 20px;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  #product .nav-pills .nav-item {
    margin-left: 10px;
  }
  #product .nav-pills .nav-link {
    padding: 0 15px 10px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }
  #product .nav-pills .nav-link img {
    max-width: 25px;
  }
  #product .nav-pills .nav-link .box-cat {
    font-weight: 700;
    font-size: 14px;
    white-space: nowrap;
  }
  #product h1 {
    font-weight: 700;
    font-size: 21px;
  }
  .topCloud {
    max-width: 30%;
    top: -4%;
  }
  .bottomCloud {
    max-width: 40%;
    left: -15%;
  }
  /*================================ sectionCombine ================================*/

  #sectionCombine {
    border-radius: 60px 60px 60px 0;
    margin-top: -50px;
  }
  /*================================ banner ================================*/
  /* #banner .swiper-button-next,
#banner .swiper-button-prev {
  display: none;
} */
  #banner .swiper-slide .content img {
    border-radius: 20px;
  }

  #banner .content .seeVideo {
    top: 30%;
  }
  #banner .content .seeVideo p {
    font-size: 10px;
  }
  #banner .section-title {
    margin-bottom: 0;
  }
  #banner .bannerSwiper {
    max-height: 300px;
    position: relative;
    padding: 30px 0 40px;
  }
  #banner .swiper-button-next,
  #banner .swiper-button-prev {
    display: none;
  }
  #banner .swiper-horizontal > .swiper-pagination-bullets,
  #banner .swiper-pagination-bullets.swiper-pagination-horizontal,
  #banner .swiper-pagination-custom,
  #banner .swiper-pagination-fraction {
    left: 0;
  }
  #banner .swiper-slide .content {
    padding: 0;
  }
  #banner .swiper-pagination-bullet {
    background: #fff;
    border: 1px solid #505860;
    opacity: 1;
  }
  #banner .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #00a19a;
    border: none;
    width: 10px;
    height: 10px;
  }
  #banner .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
  .bannerSwiper {
    max-height: 200px;
    display: flex;
  }
  #banner .swiper-slide-active .content::before {
    left: 0;
    max-width: 50%;
  }

  /*================================ event ================================*/
  #event {
    padding-bottom: 40px;
  }
  #event .row {
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 10px 0;
  }
  #event .box {
    box-shadow: none;
  }
  #event .col-md-4 {
    width: 70%;
  }
  #event #boxHover p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
  }
  #event #boxHover img {
    margin-bottom: 15px;
  }
  .socialsBox {
    margin-right: 0;
  }
  #event .eventBox {
    box-shadow: none;
  }
  #event .eventBox i {
    right: 30px;
    font-size: 20px;
  }
  #event .eventBox1 p {
    font-weight: 400;
    font-size: 8px;
  }
  #event .eventBox2 p {
    font-weight: 400;
    font-size: 8px;
  }
  #event .eventBox2 .logoPost {
    top: 30px;
    max-width: 50%;
  }
  /*================================ about ================================*/
  #about {
    margin: 0 auto;
    padding: 60px 0 90px;
  }
  #about h1 {
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 20px;
  }
  #about p {
    font-weight: 400;
    font-size: 12px;
    padding: 0 5px;
    margin-bottom: 30px;
  }
  #about .row .col-md-6:first-child {
    order: 1;
  }
  #about .row .col-md-6 img {
    margin: 0 auto;
  }
  #about .btnCall {
    margin-bottom: 40px;
  }
  /*================================ footer ================================*/

  footer {
    text-align: center;
    text-align-last: center;
    border-radius: 60px 60px 0px 0px;
    padding: 30px 0;
  }
  footer .container {
    padding: 0;
  }
  footer i {
    font-size: 12px;
  }
  footer .address P {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    text-align-last: center;
    color: #fff;
  }
  footer .address strong {
    font-weight: 700;
    font-size: 12px;
    color: #fff;
  }
  footer .connection {
    justify-content: center;
    margin-bottom: 50px;
  }
  footer .connection .box p {
    font-weight: 400;
    font-size: 12px;
  }
  footer .socials {
    justify-content: space-evenly;
    max-width: 70%;
    margin: 0 auto;
  }
  footer .content {
    padding: 0 15px 44px;
  }
  footer .harmonyLogo {
    margin: 0 auto;
  }
  footer .address {
    margin-bottom: 20px;
    align-items: flex-start;
    justify-content: center;
  }
  footer .address i {
    margin-left: 3px;
  }
  footer .connection .connectionBox p {
    font-weight: 400;
    font-size: 12px;
  }
  footer .logo-footer {
    margin-bottom: 30px;
  }
  footer .productFooter {
    margin-bottom: 30px;
  }
  footer .accordion-item {
    background: transparent;
    box-shadow: none;
    border-top: 1px solid rgba(88, 213, 205, 0.3);
    border-bottom: 1px solid rgba(88, 213, 205, 0.3);
    border-left: none;
    border-right: none;
    border-radius: 0;
  }

  footer .accordion-body {
    margin: 0;
    padding: 0;
    color: #fff;
  }
  footer .accordion-header {
    margin: 0;
  }
  footer .accordion-button {
    background: transparent !important;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    padding: 25px 0 25px 0;
    justify-content: space-between;
    border-radius: 0;
  }
  footer .accordion-button:focus {
    box-shadow: none;
  }

  footer .accordion-button::after {
    margin-left: 0;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    filter: brightness(0) invert(1);

    transform: scale(0.4) !important;
  }
  footer .accordion-button:not(.collapsed) {
    color: #fff;
    box-shadow: none;
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    filter: brightness(0) invert(1);
  }

  footer ul {
    padding: 0 40px 0 0;
  }
  footer ul li {
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    text-align-last: right;
    margin-bottom: 16px;
  }
  /* box */
  #product .swiper-slide-active .box {
    box-shadow: none;
  }
  .box {
    padding: 0;
    width: 250px;
    height: 313px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.0509804);
  }

  .box .imgBox {
    padding: 0 20px;
  }
  .box .card-footer {
    padding: 27px 13px;
  }
  .box img {
    max-width: 90%;
  }

  /* category styles */
  #categoryBanner {
    padding: 130px 0 0;
  }
  #categoryBanner .container {
    padding-right: 0;
  }
  #categoryBanner .container .row .col-md-6:first-child {
    order: 1;
  }
  #categoryBanner .content {
    border-radius: 0px 0px 0px 80px;
    padding: 120px 17px 32px;
    position: relative;
  }
  #categoryBanner .content .categoryImg {
    margin-top: -100px;
    position: absolute;
    top: 5%;
    max-width: 60%;
    left: 5%;
  }
  #categoryBanner .content .title {
    font-size: 14px;
    margin-bottom: 20px;
  }
  #categoryBanner .content .categoryTitle {
    font-size: 30px;
    margin-bottom: 27px;
  }
  #categoryBanner .content .categoryCaption {
    font-size: 14px;
  }
  /* main */
  #main {
    padding-top: 80px;
  }
  #main .container {
    padding: 0;
  }
  #main .title {
    font-size: 21px;
    margin-bottom: 40px;
  }
  #main .categorySwiper {
    flex-direction: column;
    padding: 0;
  }
  #main .swiper-wrapper {
    z-index: 90;
    padding: 10px 15px 40px;
  }
  #main .categorySwiper {
    margin-bottom: 0;
  }
  #main .categories {
    margin-bottom: 0;
  }
  .intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  .intro .titleName {
    font-size: 14px;
    padding: 0;
    border-bottom: none;
  }
  .intro .name {
    font-size: 16px;
    margin: 0;
  }
  .intro .subName {
    font-size: 14px;
    margin-bottom: 0;
  }
  #main .categorySwiper .swiper-button-next,
  #main .categorySwiper .swiper-button-prev {
    display: none;
  }
  .intro {
    background: #00a19a;
    border-radius: 0px 15px 15px 15px;
    width: 95%;
    height: fit-content;
    margin-left: 0;
    justify-content: space-around;
    padding: 16px 0;
    margin: 0 auto 40px;
  }
  .intro .categoryFooter {
    border: none;
    padding: 0;
  }
  .intro .number {
    font-size: 14px;
  }
  .introBg {
    border-radius: 15px 0px 15px 25px;
    height: 59px;
    bottom: -10px;
    right: -7px;
  }
  .box .card-footer .category {
    font-size: 14px;
  }
  .box .card-footer .seeAll {
    font-size: 14px;
  }

  /*================================ singleProduct ================================*/
  #singleProduct {
    padding: 0 0 200px;
    margin-bottom: 0;
  }
  #singleProduct .container {
    padding: 0;
    flex-direction: column;
    justify-content: center;
  }
  #singleProduct .productImg {
    width: 100%;
    border-radius: 0 0 80px 80px;
    padding: 50px 17px 90px;
    margin-bottom: 0;
  }
  #productImg-tab {
    max-width: 100%;
  }
  #singleProduct #productImg-tabContent {
    width: 100%;
    min-height: 175px;
  }
  #singleProduct .productContent {
    width: 100%;
    padding: 46px 15px 0;
  }
  .productContent .title {
    font-size: 21px;
  }
  .productContent .top img {
    max-width: 70%;
  }
  .productContent .caption {
    font-size: 14px;
    margin-bottom: 37px;
  }
  .productContent .properties {
    justify-content: space-between;
    margin-bottom: 60px;
  }
  .productContent .properties .property {
    margin: 0;
  }
  .productContent .property span {
    width: 50px;
    height: 50px;
    padding: 9px;
  }
  .productContent .property span img {
    max-width: 50%;
  }
  .productContent .property p {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
  }
  .commentBtn {
    width: 118px;
    height: 36px;
    font-size: 14px;
    padding: 10px 35px;
    border-radius: 10px;
  }
  /* testimunial */
  #testimunial {
    background: linear-gradient(1.88deg, #eaf4f4 -22.4%, #ffffff 98.41%);
    padding-top: 37px;
    margin-top: -160px;
    border-radius: 60px 60px 0 0;
  }
  #testimunial .sectionTitle {
    font-size: 21px;
  }
  #testimunial .swiper-pagination,
  #testimunial .swiper-button-prev,
  #testimunial .swiper-button-next {
    display: none;
  }
  .testimonialSwiper {
    padding: 40px 0 0;
  }
  .testimonialSwiper .swiper-slide {
    padding: 56px 17px 30px;
    box-shadow: 0px 0px 20px 10px rgba(229, 229, 229, 0.31);
    border-radius: 30px;
  }
  .testimonialSwiper .swiper-slide .title {
    font-size: 14px;
  }
  .testimonialSwiper .swiper-slide .top {
    margin-bottom: 10px;
    align-items: flex-start;
  }
  .testimonialSwiper .top img {
    max-width: 30%;
    margin-top: 5px;
  }
  .testimonialSwiper .swiper-slide .caption {
    font-size: 14px;
    color: #000000;
    text-align: justify;
    margin-bottom: 20px;
  }
  .testimonialSwiper .swiper-slide .name {
    font-size: 14px;
  }
  .testimonialSwiper .swiper-slide .date {
    font-size: 14px;
  }
  /* aboutUs styles */
  #starter {
    padding: 131px 0 0;
  }
  #starter .shakeCloud {
    max-width: 30%;
    top: -32%;
  }
  #starter .container {
    padding-right: 0;
  }
  #starter .content {
    border-radius: 0 0 0 80px;
    padding: 15px;
    min-height: 356px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 45px;
  }
  #starter .content .cloudInnerTop {
    top: 20%;
    right: 23%;
    max-width: 10%;
  }
  #starter .content .cloudInnerBottom {
    right: 42%;
  }
  #starter .aboutUsImg {
    max-width: 65%;
    top: -20%;
  }
  #starter .cloudLeftSingle {
    position: absolute;
    left: -18%;
    bottom: 9%;
    max-width: 40%;
    animation: moveCloud 10s ease 0s infinite normal forwards;
  }
  #starter .content .title {
    font-weight: 700;
    font-size: 14px;
    margin: 0 0 32px;
  }
  #starter .content .aboutUsTitle {
    font-weight: 700;
    font-size: 30px;
  }
  #starter .content .aboutUsCaption {
    font-weight: 400;
    font-size: 20px;
    max-width: 70%;
    line-height: 2;
  }
  /* properies */
  #properies {
    padding: 130px 0 0;
  }
  #properies .content {
    flex-direction: column;
  }
  #properies .content .col-md-4 {
    padding: 0 16px;
  }
  #properies .property {
    padding: 90px 30px 35px;
    margin-bottom: 74px;
  }
  #properies .property h2 {
    font-weight: 700;
    font-size: 21px;
    margin: 0 auto 30px;
  }
  #properies .property p {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
  }
  #properies .property:nth-child(1) p {
    text-align: center;
  }
  #properies .propertyImg {
    width: 93px;
    height: 93px;
    padding: 20px;
  }
  /* #aboutCleanup */
  #aboutCleanup {
    padding: 0;
    margin-bottom: 60px;
  }
  #aboutCleanup .content {
    flex-direction: column;
  }
  #aboutCleanup .content > div {
    width: 100%;
  }
  #aboutCleanup .content .caption {
    padding: 0;
    order: 1;
  }
  #aboutCleanup .content .caption .section-title {
    margin-bottom: 24px;
  }
  #aboutCleanup .content .caption p {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 30px;
  }
  #aboutCleanup .content .aboutPicture {
    text-align: center;
    margin-bottom: 34px;
  }
  .logos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #aboutCleanup .content .caption .zarrinLogo {
    margin: 0;
  }
  #aboutCleanup .content .caption img {
    margin: 0;
    max-width: 20%;
  }
  /* #group-social */
  #group-social {
    padding: 40px 0;
    background: linear-gradient(2.04deg, #eaf4f4 0.1%, #ffffff 156.71%);
  }
  #productGroup {
    margin-bottom: 80px;
  }
  #productGroup .section-title {
    margin-bottom: 40px;
  }
  #productGroup .groupBox {
    overflow-x: scroll;
    flex-wrap: nowrap;
    padding-bottom: 20px;
  }
  #productGroup .groupBox .col-md-3 {
    max-width: 80%;
  }
  #productGroup .groupBox .group:hover {
    box-shadow: 0px 3px 7px rgb(0 161 154 / 15%);
  }
  #productGroup .groupBox .group .name {
    font-weight: 900;
    font-size: 21px;
  }
  #productGroup .groupBox .group .description {
    font-weight: 400;
    font-size: 14px;
  }
  #productGroup .groupBox .group .seeAllProducts {
    font-weight: 700;
    font-size: 14px;
  }
  /*  #socialResponsibility */
  #socialResponsibility {
    padding-bottom: 35px;
  }
  #socialResponsibility .content {
    flex-direction: column;
  }
  #socialResponsibility .content > div {
    width: 100%;
  }
  #socialResponsibility .content .socialPictue,
  #socialResponsibility .content .socialCaption {
    padding: 0;
  }
  #socialResponsibility .content .socialPictue {
    order: 1;
    margin: 40px 0 20px;
  }
  #socialResponsibility .content .socialCaption .section-title {
    margin-bottom: 24px;
  }
  #socialResponsibility .content .socialCaption p {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 42px;
  }
  #socialResponsibility .content .socialCaption .call {
    font-weight: 700;
    font-size: 14px;
    border-radius: 10px;
    height: 36px;
  }

  /* contactus styels */
  #contactus {
    padding: 50px 0 0;
  }
  #contactus .content {
    border-radius: 0 40px 0px 0px;
    padding: 48px 0 0px;
    box-shadow: none;
  }
  #contactus .content .title {
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 40px;
  }
  #contactus .content .caption i {
    font-size: 16px;
  }
  #contactus .content .email,
  #contactus .content .phone {
    margin-bottom: 15px;
    line-height: 1;
  }
  #contactus .content .addressText {
    margin-bottom: 15px;
    line-height: 1.5;
  }
  #contactus .content .whatsapp {
    margin-bottom: 36px;
  }
  #contactus .content .mapBox {
    margin-bottom: 40px;
  }
  #contactus .content .formBox {
    padding: 36px 15px ;
    border-radius: 0px 50px 0 0;
    box-shadow: none;
  }
  #contactus .content .formPart {
    padding: 0;
  }
  #contactus .content .topFormCloud {
    position: absolute;
    top: -2%;
    left: 2%;
    max-width: 40%;
    animation: moveCloud 10s ease 0s infinite normal forwards;
  }
  #empty {
    background: #fff;
    height: 100px;
  }
}

@media screen and (max-width: 359px) {
  .box {
    padding: 0;
    width: 220px;
    height: 290px;
    box-shadow: 0px 3px 7px rgb(0 0 0 / 5%);
  }
}

/*============== tablet ==================*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mobileNav {
    display: none;
  }
  .navbar {
    display: flex;
  }
  .btnCall {
    font-weight: 700;
    font-size: 16px;
  }
  header .navbar .navItems a {
    font-weight: 600;
    font-size: 16px;
    margin-left: 20px;
  }
  #slide h1 {
    font-weight: 700;
    font-size: 48px;
  }
  #slide p {
    font-weight: 400;
    font-size: 16px;
    max-width: 70%;
  }
  #slide .btnCall {
    font-weight: 700;
    font-size: 16px;
  }
  #slide .picture {
    max-width: 50%;
    bottom: -10%;
  }
  #slide .swiper-wrapper {
    max-height: 600px;
  }
  #slide .swiper-pagination {
    display: none;
  }
  #slide .slider1 .slider1CloudLeft {
    display: block;
    top: 2%;
  }
  .box {
    width: 244px;
    height: 313px;
  }
  .box .card-footer .category {
    font-weight: 400;
    font-size: 14px;
  }
  .box .card-footer .seeAll {
    font-weight: 400;
    font-size: 14px;
  }
  #banner .swiper-button-next,
  #banner .swiper-button-prev {
    display: none;
  }
  #banner .swiper-horizontal > .swiper-pagination-bullets,
  #banner .swiper-pagination-bullets.swiper-pagination-horizontal,
  #banner .swiper-pagination-custom,
  #banner .swiper-pagination-fraction {
    left: 0;
  }
  #product .nav-pills {
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-bottom: 20px;
  }
  #product {
    padding-top: 70px;
  }
  #product .nav-pills .nav-link .box-cat {
    font-weight: 700;
    font-size: 14px;
    white-space: nowrap;
  }
  .productCloudTop,
  .productCloudBottom {
    display: none;
  }
  .topCloud {
    position: absolute;
    top: -10%;
    left: 6%;
    max-width: 40%;
  }
  footer .col-md-3 {
    display: block;
  }
  #about .col-md-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #event .eventBox2 .logoPost {
    max-width: 50%;
  }
  #event .eventBox2 p {
    bottom: 30px;
  }
  #event .eventBox2 .logoPost {
    top: 20px;
  }
  .productFooter {
    display: none;
  }
}

@media screen and (min-width: 1600px) {
  #starter .cloudRight {
    position: absolute;
    max-width: 10%;
    right: 22%;
    top: 6%;
  }
}

@media screen and (max-width: 1088px) {
  .productContent .property {
    margin-left: 30px;
  }
  .testimonialSwiper .swiper-button-next {
    right: 24%;
  }
  .box {
    width: 220px;
    height: 313px;
  }
}
